/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

body {
  font-family: 'Roboto', sans-serif;
}

$grey: #7a7a7a;
$green: #225522;

h1 {
  font-size: 3em;
  margin-top: 1em;
  line-height: 72%;
}

h1 small {
  font-size: 0.7em;
  color: $grey;
}

form {
  margin: 2em 0 2em 0;
}

input, button {
  font-size: 1.5em;
  border: 2px solid $green;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

button {
  background: $green;
  color: white;
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

input {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

button:hover {
  background: lighten($green, 10%);
}

h2 {
  margin-top: 2em;
}

img {
  object-fit: cover;
  object-position: center;
  height: 160px;
  width: 125px;
}

ul, ol {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

li {
  list-style:none;
}

li.rental {
  float: left;
  max-width: 125px;
  margin: 0 2em 0 0;
}

ul.rentals::after, ul.meta-data-list::after {
  content: ".";
  display: block;
  line-height: 1px;
  font-size: 1px;
  clear: both;
}

li.meta-data {
  margin-right: 0.3em;
  float: left;
  color: $grey;
}

li.meta-data + li.meta-data::before {
  content: " | ";
}

h3 {
  padding-top: 1em;
  margin-top: 2em;
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0.2em;
}

footer {
  margin-top: 6em;
  color: $grey;
}

.container {
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
  max-width: 800px;
}
