/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3em;
  margin-top: 3em;
}

h1 small {
  font-size: 0.7em;
  color: #666666;
}

h2 {
  margin-top: 2em;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 30em;
  padding-top: 3em;
  padding-bottom: 6em;
  background-color: #e4e4e4;
}

.container {
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
  max-width: 800px;
}
